<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <link rel="stylesheet" href="/css/product2.css" />
        <title>PRODUCTO | WINEDERFUL</title>
        <script src="/js/colapse.js"></script>
    </head>
    <body class="body-index">
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="display-box">
                <div class="mobile">
                    <h2 class="subtitle-wine">
                        <%= product.productName %>
                        <a href="/favoritos"
                            ><i class="fas fa-heart favourite-button"></i
                        ></a>
                    </h2>
                </div>
                <div class="product">
                    <img
                        class="resize"
                        src="<%= product.image %>"
                        alt="botella de vino"
                    />
                </div>
                <div>
                    <h2 class="desktop subtitle-wine">
                        <%= product.productName %>
                    </h2>
                    <h2 class="price">$<%= product.price %></h2>
                    <p class="pDescription"><%= product.description %></p>
<<<<<<< HEAD:src/views/products/productDetail.ejs
                    <form action="/carrito/agregar/<%= product.id %>" method="POST" class="buying">
=======
                    <% if (user && user.dni) { %>
                    <form action="/carrito" class="buying" method="POST">
>>>>>>> 73959fddc14df1602e2eb9c1ce4674ea6de470db:views/products/productDetail.ejs
                        <div class="quantity-box">
                            <input type="hidden" name="id" value="<%= product.id %> ">
                            <label for="quantity">Cantidad</label>
                            <input
                                type="number"
                                name="quantity"
                                id="quantity"
                                value="1"
                            />
                        </div>
                        
                        
                            <button type="subit" class="button create">
                                Agregar al carrito
                                <i class="fas fa-shopping-cart cart-button"></i>
                            </button>
                        </form>
                        <div class="fav-share">
                            <a class="icon" href="/favoritos">
                                <i class="far fa-heart"></i>
                            </a>
                            <a class="icon" href="">
                                <i class="fas fa-share-alt"></i>
                            </a>
                        </div>
                        

                        <% } else if (user && user.cuit) { %>
                        <a class="button create" href="/productos/<%= product.id %>/editar">
                            
                                Editar
                                <i class="fas fa-edit"></i></i>
                            
                        </a>

                        <% } %>
                
                    
                </div>
            </section>
            <div class="specific-suggest">
                <section class="specific">
                    <div id="colapse" class="colapse">
                        <p>ESPECIFICACIONES</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div id="inside" class="description font-description">
                        <div>
                            <p>AÑADA:</p>
                            <p class="data"><%= product.year %></p>
                        </div>
                        <div>
                            <p>UVA:</p>
                            <p class="data"><%= product.grape %></p>
                        </div>
                        <!-- <div>
                            <p>PAIS:</p>
                            <p class="data"></p>
                        </div>
                        <div>
                            <p>ZONA:</p>
                            <p class="data"></p>
                        </div>
                        <div>
                            <p>BODEGA:</p>
                            <p class="data"></p>
                        </div> -->
                        <div>
                            <p>TEMPERATURA DE SERVICIO:</p>
                            <p class="data"><%= product.temperature %></p>
                        </div>
                        <div>
                            <p>GUARDA (EN AÑOS):</p>
                            <p class="data"><%= product.aged %></p>
                        </div>
                    </div>

                    <div id="colapse" class="colapse">
                        <p>RESEÑAS</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </section>
                <section class="suggest"></section>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
