<article class="prodArticle">
    <a class="prod" href="/productos/<%= product.id %> ">
        <div class="prod-img-box">
            
        
                <img src="<%= product.image %>" alt="Vino tinto" />
            
                
        </div>
                
        <% if(user && user.dni){ %> 
            <form action="/carrito/agregar/<%= product.id %>" method="POST">
                <button type="submit" class="button create">
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </form>  
        <% } %> 
        <div class="prod-name-box">
            <p><%= product.productName %></p>
        </div>
        <div class="prod-price-cart-box">
            <p>$<%= product.price %></p>
        </div>    
    </a>
</article>

