<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <title>PERFIL | WINEDERFUL</title>
        <script defer src="/js/validations/validator.min.js"></script>
        <script defer src="/js/validations/validationFunctions.js"></script>
        <script defer src="/js/validations/validator.min.js"></script>
        <script defer src="/js/validations/profile.js"></script>
    </head>

    <body>
        <%- include("../partials/header.ejs") %>
        <main class="profile-main">
            <section class="profile-left">
                <div class="profile-image">
                    <!-- <img src="/images/ " alt="" /> -->
                </div>
                <div class="profile-nav">
                    <ul>
                        <li>
                            <button id="profile-btn" class="profile-button">
                                Perfil
                            </button>
                        </li>
                        <% if(!user.cuit) {%>
                        <li>
                            <button class="profile-button">Mis compras</button>
                        </li>
                        <li>
                            <button class="profile-button">
                                Mis favoritos
                            </button>
                        </li>
                        <li>
                            <button class="profile-button" id="address-btn">
                                Mis direcciones
                            </button>
                        </li>
                        <% } else { %>
                        <li>
                            <button class="profile-button">
                                Mis publicaciones
                            </button>
                        </li>
                        <li>
                            <button class="profile-button">
                                Mis sucursales
                            </button>
                        </li>
                        <% } %>

                        <li>
                            <form method="post" action="/usuarios/perfil">
                                <button
                                    class="profile-button red"
                                    type="submit"
                                >
                                    Cerrar sesión
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </section>
            <div id="right-container">
                <section id="personal-data" class="action personal-data">
                    <div class="profile-right">
                        <div class="personal-info">
                            <div class="background-text"></div>
                            <h2>Datos personales</h2>
                        </div>
                        <div class="profile-data">
                            <div class="profile-name">
                                <% if(user.cuit){ %>
                                <p>Nombre de la bodega</p>
                                <p><%= user.cellarName %></p>
                                <%} else {%>
                                <p>Nombre</p>
                                <p>
                                    <%= user.firstName %> <%= user.lastName %>
                                </p>
                                <% } %>
                            </div>
                            <div>
                                <p>E-mail</p>
                                <p><%= user.email %></p>
                            </div>
                            <div>
                                <p>Contraseña</p>
                                <button
                                    type="button"
                                    class=""
                                    id="change-pass-btn"
                                >
                                    Cambiar contraseña
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="hide" id="pass-screen">
                        <form
                            action="/usuarios/cambioContra/<%=user.id%>"
                            method="POST"
                            id="change-pass-form"
                            class="form"
                        >
                            <h3>Cambio de contraseña</h3>
                            <label for="actualPassword"
                                >Ingrese su contraseña actual</label
                            >
                            <input
                                type="password"
                                id="actualPassword"
                                name="password"
                            />
                            <label for="newPassword"
                                >Ingresé su nueva contraseña</label
                            >
                            <input
                                type="password"
                                name="newPassword"
                                id="newPassword"
                            />
                            <label for="confirmNewPassword"
                                >Confirme su nueva contraseña</label
                            >
                            <input
                                type="password"
                                name="confirmNewPassword"
                                id="confirmNewPassword"
                            />
                            <div class="submit-btn-cont">
                                <button
                                    disabled
                                    type="submit"
                                    class="button create"
                                >
                                    Cambiar contraseña
                                </button>
                                <p class="disable-msg">
                                    Complete todos los campos para habilitar el
                                    envío
                                </p>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="action hide" id="address-screen">
                    <div class="background-text"></div>
                    <h2>Mis direcciones</h2>
                    <ul class="marginY">
                        <form action="/usuarios/editarDireccion" method="POST">
                            <% if(user.dni) { for(let i = 0; i <
                            user.addresses.length; i++) { %>
                            <div id="addresses-actions">
                                <h4 class="marginY">Dirección <%= i+1%></h4>
                                <div>
                                    <button
                                        type="button"
                                        class="edit-btn no-border back-white"
                                    >
                                        <i
                                            class="fas fa-pencil-alt edit-icon"
                                        ></i>
                                    </button>
                                    <button
                                        type="button"
                                        class="delete-btn no-border back-white"
                                    >
                                        <i
                                            class="fas fa-trash-alt delete-icon"
                                        ></i>
                                    </button>
                                </div>
                            </div>
                            <% let streetName = (user.addresses[i].streetName
                            )%> <%let streetNumber =
                            (user.addresses[i].streetNumber )%> <%let apartment
                            = (user.addresses[i].apartment ) %> <%let city =
                            (user.addresses[i].city )%> <%let zipCode
                            =(user.addresses[i].zipCode) %>
                            <fieldset id="fieldset-<%=i%>">
                                <p id="deleted-msg-<%=i%>" class="hide">
                                    La dirección:
                                    <strong>
                                        <%=streetName %>, <%= streetNumber %>,
                                        Departamento <%= apartment%></strong
                                    >
                                    ha sido eliminada, para recuperarla haz
                                    click
                                    <button class="undo-delete" type="button">
                                        aquí
                                    </button>
                                </p>
                                <div id="fieldset-content-<%=i%>">
                                    <div>
                                        <label for="street">Calle </label>
                                        <input
                                            disabled
                                            name="streetName<%=i%>"
                                            type="text"
                                            id="streetName<%=i%>"
                                            placeholder="<%=streetName %>"
                                        />
                                        <label for="streetNumber">Número</label>
                                        <input
                                            disabled
                                            name="streetNumber<%=i%>"
                                            type="text"
                                            id="streetNumber<%=i%>"
                                            placeholder="<%=streetNumber
                                        %>"
                                        />
                                    </div>
                                    <div>
                                        <label for="apartment"
                                            >Departamento</label
                                        >
                                        <input
                                            disabled
                                            name="apartment<%=i%>"
                                            type="text"
                                            id="apartment<%=i%>"
                                            placeholder="<%=apartment %>"
                                        />
                                        <label for="city">Ciudad</label>
                                        <input
                                            disabled
                                            name="city<%=i%>"
                                            type="text"
                                            id="city"
                                            placeholder="<%=city %>"
                                        />
                                    </div>
                                    <div>
                                        <label for="zipCode">
                                            Código Postal:
                                        </label>
                                        <input
                                            disabled
                                            name="zipCode<%=i%>"
                                            type="text"
                                            id="zipCode<%=i%>"
                                            placeholder="<%=zipCode %>"
                                        />
                                    </div>
                                    <input
                                        class="hide"
                                        id="isDeleted-<%=i%>"
                                        checked
                                        type="checkbox"
                                        name="isDeleted<%=i%>"
                                    />
                                </div>
                            </fieldset>
                            <% } %> <% } %>
                            <button
                                class="button create"
                                id="save-changes-btn"
                                type="submit"
                            >
                                Guardar cambios
                            </button>
                            <button
                                class="button erase"
                                id="save-changes-btn"
                                type="reset"
                            >
                                Descartar cambios
                            </button>
                        </form>
                    </ul>
                </section>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
    </body>
</html>
