<section class="action hide" id="address-screen">
    <div class="background-text"></div>
    <h2>Mis direcciones</h2>
    <% if(user.addresses.length == 0) {%>
    <h4 id="noAddressesYet-msg" class="marginY">
        No tienes direcciones cargadas aun
    </h4>
    <% } %>
    <ul class="marginY">
        <form action="/usuarios/editarDireccion" method="POST">
            <% let quantity = (user.addresses.length > 0) ?
            (user.addresses.length) : 1 %> <% if(user.dni) { for(let i = 0; i <
            quantity; i++) { %>

             <% if(user.addresses.length == 0) {%>
            <article class="address-article hide">
                <%} else { %>
            <article  class="address-article">
                    <%}%>
                <div class="address-title">
                    <h4 class="marginY">Dirección <%= i+1%></h4>
                    <div>
                        <button type="button" class="edit-btn no-border back-white">
                            <i class="fas fa-pencil-alt edit-icon"></i>
                        </button>
                        <button
                            type="button"
                            class="delete-btn no-border back-white"
                        >
                            <i class="fas fa-trash-alt delete-icon"></i>
                        </button>
                    </div>
                </div>
                <%let streetName = (user.addresses.length > 0) ?
                user.addresses[i].streetName: "" %> <%let streetNumber =
                (user.addresses.length > 0) ? user.addresses[i].streetNumber: "" %>
                <%let apartment = (user.addresses.length > 0) ?
                user.addresses[i].apartment : "" %> <%let city =
                (user.addresses.length > 0) ? user.addresses[i].city : "" %> <%let
                zipCode = (user.addresses.length > 0) ? user.addresses[i].zipCode :
                "" %>
                <fieldset id="fieldset-<%=i%>">
                    <p id="deleted-msg-<%=i%>" class="hide">
                        La dirección:
                        <strong>
                            <%=streetName %>, <%= streetNumber %>, Departamento <%=
                            apartment%></strong
                        >
                        ha sido eliminada, para recuperarla haz click
                        <button class="undo-delete" type="button">aquí</button>
                    </p>
                    <div id="fieldset-content-<%=i%>">
                        <div>
                            <label for="street">Calle </label>
                            <input
                                disabled
                                name="streetName<%=i%>"
                                type="text"
                                id="streetName<%=i%>"
                                placeholder="<%=streetName %>"
                            />
                            <label for="streetNumber">Número</label>
                            <input
                                disabled
                                name="streetNumber<%=i%>"
                                type="text"
                                id="streetNumber<%=i%>"
                                placeholder="<%=streetNumber
                                            %>"
                            />
                        </div>
                        <div>
                            <label for="apartment">Departamento</label>
                            <input
                                disabled
                                name="apartment<%=i%>"
                                type="text"
                                id="apartment<%=i%>"
                                placeholder="<%=apartment %>"
                            />
                            <label for="city">Ciudad</label>
                            <input
                                disabled
                                name="city<%=i%>"
                                type="text"
                                id="city"
                                placeholder="<%=city %>"
                            />
                        </div>
                        <div>
                            <label for="zipCode"> Código Postal: </label>
                            <input
                                disabled
                                name="zipCode<%=i%>"
                                type="text"
                                id="zipCode<%=i%>"
                                placeholder="<%=zipCode %>"
                            />
                        </div>
                        <input
                            class="hide"
                            id="isDeleted-<%=i%>"
                            value="true"
                            type="checkbox"
                            name="isDeleted<%=i%>"
                        />
                    </div>
                </fieldset>
            </article>

            <% } %>

            <button type="button" id="new-address">
                <i class="fas fa-plus"></i>
            </button>

            <button class="button create" id="save-changes-btn" type="submit">
                Guardar cambios
            </button>
            <button class="button erase" id="reset-btn" type="reset">
                Descartar cambios
            </button>
            <% } %>
        </form>
    </ul>
</section>
