<%let streetNumber = (user.addresses[i].streetNumber || "" )%> <%let apartment =
(user.addresses[i].apartment || "" ) %> <%let city = (user.addresses[i].city ||
"")%> <%let zipCode =(user.addresses[i].zipCode)|| "" %>
<fieldset id="fieldset-<%=i%>">
    <p id="deleted-msg-<%=i%>" class="hide">
        La dirección:
        <strong>
            <%=streetName %>, <%= streetNumber %>, Departamento <%=
            apartment%></strong
        >
        ha sido eliminada, para recuperarla haz click
        <button class="undo-delete" type="button">aquí</button>
    </p>
    <div id="fieldset-content-<%=i%>">
        <div>
            <label for="street">Calle </label>
            <input
                disabled
                name="streetName<%=i%>"
                type="text"
                id="streetName<%=i%>"
                placeholder="<%=streetName %>"
            />
            <label for="streetNumber">Número</label>
            <input
                disabled
                name="streetNumber<%=i%>"
                type="text"
                id="streetNumber<%=i%>"
                placeholder="<%=streetNumber
                                        %>"
            />
        </div>
        <div>
            <label for="apartment">Departamento</label>
            <input
                disabled
                name="apartment<%=i%>"
                type="text"
                id="apartment<%=i%>"
                placeholder="<%=apartment %>"
            />
            <label for="city">Ciudad</label>
            <input
                disabled
                name="city<%=i%>"
                type="text"
                id="city"
                placeholder="<%=city %>"
            />
        </div>
        <div>
            <label for="zipCode"> Código Postal: </label>
            <input
                disabled
                name="zipCode<%=i%>"
                type="text"
                id="zipCode<%=i%>"
                placeholder="<%=zipCode %>"
            />
        </div>
        <input
            class="hide"
            id="isDeleted-<%=i%>"
            value="true"
            type="checkbox"
            name="isDeleted<%=i%>"
        />
    </div>
</fieldset>
