<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>

        <title>EDITAR PRODUCTO | WINDERFUL</title>
    </head>
    <body>
        <%- include("../partials/header.ejs") %>
        <main class="main-newProduct">
            <section class="reveal">
                <p>aca se va cargando lo que pone la persona</p>
            </section>
            <section class="form form-newProduct">
                <form
                    action="/productos/<%=product.id%>/editar?_method=PUT"
                    class="form"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <label for="productName">Nombre del vino</label>
                    <input
                        value="<%= product.product_name %>"
                        type="text"
                        name="product_name"
                        id="productName"
                    />
                    <label for="productDescription">Descripción</label>
                    <textarea
                        name="description"
                        id="description"
                        cols="30"
                        rows="10"
                        placeholder="Agregue detalles que se aprecien a la vista, olores y sabores en boca."
                    >
                        <%= product.description %>
                    </textarea>
                    <label for="productGrape">Varietal </label>
                    <input
                        type="text"
                        name="grape"
                        id="productGrape"
                        value="<%= product.grape %>"
                    />
                    <label for="productYear">Añada</label>
                    <input
                        type="number"
                        name="year"
                        id="productYear"
                        value="<%= product.year %>"
                    />
                    <label for="productTemperature"
                        >Temperatura de servicio</label
                    >
                    <input
                        type="number"
                        name="temperature"
                        id="productTemperature"
                        value="<%= product.temperature %>"
                    />
                    <label for="productAged">Crianza</label>
                    <input
                        type="number"
                        name="aged"
                        id="productAged"
                        value="<%= product.aged %>"
                    />

                    <label for="productPrice">Precio</label>
                    <input
                        type="number"
                        name="price"
                        id="productPrice"
                        value="<%= product.price %>"
                    />

                    <label for="productQuantity">Stock</label>
                    <input
                        type="number"
                        name="stock"
                        id="productQuantity"
                        value="<%= product.stock %>"
                    />

                    <label for="productPairing">Marida bien con:</label>
                    <input
                        type="text"
                        name="pairing"
                        id="productPairing"
                        value="<%= product.pairing %>"
                    />
                    <label for="productPicture">Foto del producto</label>
                    <input
                        type="file"
                        name="image"
                        id="productPicture"
                        filename="<%= product.image %>"
                    />

                    <button type="submit" class="button create">
                        Editar producto
                    </button>
                </form>
                <form
                    class="form"
                    method="POST"
                    action="/productos/<%= product.id%>/eliminar?_method=DELETE"
                >
                    <button type="submit" class="button erase">
                        Borrar Producto
                    </button>
                </form>
            </section>
        </main>
        <%- include("../partials/footer.ejs") %>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.marginLeft = "270px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.marginLeft = "0";
            }
        </script>
    </body>
</html>
