<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs", {title:"Detalle del producto"}) %>
        <link rel="stylesheet" href="/css/product2.css" />
        <title>PRODUCT | Winderful</title>
    </head>
    <body class="body-index">
        <%- include("../partials/header.ejs") %>
        <main>
            <section class="display-box">
                <div class="mobile">
                    <h2 class="subtitle-wine">
                        <%= product.product_name %>
                        <a href="/favoritos"
                            ><i class="fas fa-heart favourite-button"></i
                        ></a>
                    </h2>
                </div>
                <div class="product">
                    <img src="/images/<%= product.image %>" alt="botella de vino" />
                </div>
                <div>
                    <h2 class="desktop subtitle-wine">
                        <%= product.product_name %>
                        <a href="/favoritos"
                            ><i class="fas fa-heart favourite-button"></i
                        ></a>
                    </h2>
                    <h2 class="price"><%= product.price %></h2>
                    <form action="" class="buying">
                        <div class="quantity-box">
                            <label for="quantity">Cantidad</label>
                            <input
                                type="number"
                                name="quantity"
                                id="quantity"
                                value="1"
                            />
                        </div>
                        <button class="button">
                            Agregar al carrito
                            <i class="fas fa-shopping-cart cart-button"></i>
                        </button>
                    </form>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Ad ducimus iste pariatur animi, laboriosam nostrum
                        deserunt laborum quasi sed ratione nobis necessitatibus
                        quisquam aut distinctio nesciunt ex odit temporibus vel.
                    </p>
                </div>
            </section>
            <div class="specific-suggest">
                <section class="specific">
                    <div id="colpase" class="colapse">
                        <p>ESPECIFICACIONES</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div id="inside" class="font-description description">
                        <div>
                            <p>AÑADA:</p>
                            <p class="data"><%= product.year %></p>
                        </div>
                        <div>
                            <p>UVA:</p>
                            <p class="data">MERLOT</p>
                        </div>
                        <div>
                            <p>PAIS:</p>
                            <p class="data"><%= product.country %></p>
                        </div>
                        <div>
                            <p>ZONA:</p>
                            <p class="data"><%= product.region %></p>
                        </div>
                        <div>
                            <p>BODEGA:</p>
                            <p class="data">MERLOT</p>
                        </div>
                        <div>
                            <p>VISTA:</p>
                            <p class="data"><%= product.view %></p>
                        </div>
                        <div>
                            <p>AROMAS:</p>
                            <p class="data"><%= product.smell %></p>
                        </div>
                        <div>
                            <p>SABORES:</p>
                            <p class="data"><%= product.taste %></p>
                        </div>
                        <div>
                            <p>TEMPERATURA:</p>
                            <p class="data"><%= product.temperature %></p>
                        </div>
                        <div>
                            <p>GUARDA:</p>
                            <p class="data"><%= product.aged %></p>
                        </div>
                    </div>

                    <div class="colapse">
                        <p>RESEÑAS</p>
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </section>
                <section class="suggest"></section>
            </div>
        </main>
        <%- include("../partials/footer.ejs") %>
        <script>
            function openNav() {
                document.getElementById("mySidebar").style.marginLeft = "270px";
            }

            function closeNav() {
                document.getElementById("mySidebar").style.marginLeft = "0";
            }
        </script>
    </body>
</html>
